<div class="form-group">
	<div class="col-sm-offset-3 col-sm-5">
		<div class="checkbox">
			<label>
				<input type="checkbox" id="{{ id }}" name="{{ name }}" {% if placeholder %}placeholder="{{ placeholder }}"{% endif %} {% if required %}required="1"{% endif %} {% if data %}checked{% endif %} {% if attr %}{% for k, v in attr %}{{ k }}="{{ v }}" {% endfor %}{% endif %}> {{ label|trans }}
			</label>
		</div>
	</div>
</div>