{% for i in items %}
  <li data-id="{{ i.id.value }}">
    <div class="srtItem">
    	<div class="srtiActions">
    		<div class="srtCol last">
					{% for c in i %}
						{% if c.type is sameas('actions') %}{% include templates.field with {col:c} %}{% endif %}
					{% endfor %}
				</div>
    	</div>
    	<div class="srtiMain">
				<div class="srtCol first">
					<b class="glyphicon glyphicon-move"></b>
					{% if routes.edit %}
						<a class="editAction" title="{{ 'crud.edit'|trans }}" href="{{ path(routes.edit, {id:i.id.value}) }}?back={{ getRequestUri()|url_encode }}">
					{% endif %}
							<span class="mainText">{% include templates.field with {col:i|first} %}</span>
					{% if routes.edit %}
						<b class="glyphicon glyphicon-pencil"></b></a>
					{% endif %}
					{% if routes.delete %}
						&nbsp;&nbsp;<a class="removeAction" {% if i.children|length %}style="display:none"{% endif %} title="{{ 'crud.delete'|trans }}" href="{{ path(routes.delete, {id:i.id.value}) }}?back={{ getRequestUri()|url_encode }}"><b class="glyphicon glyphicon-remove"></b></a>
					{% endif %}
				</div>
			</div>
			<div class="srtiCols">
				<div class="srtCol" title="{{ c.colTitle }}">
					{% for key, c in i %}
						{% if not (c.notForPrint or loop.index == 1 or key is sameas('parent') or key is sameas('children') or c.type is sameas('actions') ) %}
							<span class="srtColsVal" title="{{ c.colTitle|trans }}">{% include templates.field with {col:c} %}</span>
						{% endif %}
					{% endfor %}
				</div>
			</div>
    </div>
    {% if i.children|length %}
      <ul>{% include templates.sortableItems with {items:i.children} %}</ul>
    {% endif %}
  </li>
{% endfor %}